@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=REM:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@font-face {
    font-family: 'Handwrite';
    src: url('Resources/Handwrite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
  background-color: #1c2333ff;
  
  font-family:'REM';
}
p,H1,h2,h3,h4,h5,h6,footer{
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 7px;
 
}

li {
  float: left;
  font-family: 'REM', sans-serif;
  font-size:20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1c70c4;
  border-radius: 6px;
}

.active {
  background-color: #2d60d7;
  border-radius: 6px;
  padding: 14px 40px;
}
#title{
  font-family: 'Outfit', sans-serif;
  font-size: 40px;
}

.btn {
    display: inline-block;
    background-color: #2d60d7;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
  border-radius:7px;
}
iframe {

}
.folders {
  overflow-y: hidden;
  max-width: 780px;
}

.folder {
 
  width: 200px;
  height: 200px;
  float: left;
  margin: 5em;
}
.folder_main {
  overflow-y: hidden;
  max-width: 800px;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius:6px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}